{% extends 'base.html.twig' %}

{% block title 'Login' %}

{% block body %}
    <div class="container">

        <form action="{{ path('login') }}" method="post" style="margin-top: 150px">
            <label for="username" class="label">Nom d'utilisateur</label>
            <div class="field">
                <p class="control has-icons-left has-icons-right">
                    <input class="input" type="text" id="username" name="_username" placeholder="Nom d'utilisateur" value="{{ last_username }}">
                    <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                    </span>
                    <span class="icon is-small is-right">
                    <i class="fas fa-check"></i>
                    </span>
                </p>
            </div>
            <label for="password" class="label">Password</label>
            <div class="field">
                <p class="control has-icons-left">
                    <input class="input" type="password" id="password" name="_password" placeholder="Password">
                    <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                    </span>
                </p>
                </div>
                <div class="field">
                <p class="control">
                    <button class="button is-success" type="submit">
                    Login
                    </button>
                </p>
            </div>
        </form>

        {% if error %}
        <div class="notification is-danger" style="margin-top: 50px">
            <button class="delete"></button>
            {{ error.messageKey | trans(error.messagedata, 'security') }}
        </div>
        {% endif %}

    </div>
{% endblock %}