{% extends 'base.html.twig' %}

{% block title 'Edition Tag' %}

{% block body %}
    <div class="container" style="margin-top: 150px">
        <h1 class="title is-2">Edition</h1>
        {{ form_start(formTag, {'attr': { 'novalidate': 'novalidate' }}) }}
            {{ form_row(formTag.name) }}
            <button class="button is-primary">Editer</button>
        {{ form_end(formTag) }}
    </div>
{% endblock %}