{% extends 'base.html.twig' %}

{% block title 'Edition Tag' %}

{% block body %}
    <div class="container margetop">
        <a href="/admin/Portfolio" class="button is-primary margebottom">
            <span class="icon">
                    <i class="fas fa-arrow-left"></i>
                </span>
                <span>Retour</span>
        </a>
        <h1 class="title is-2">Edition</h1>
        {{ form_start(formTag, {'attr': { 'novalidate': 'novalidate' }}) }}
            {{ form_row(formTag.name) }}
            <button class="button is-primary">Editer</button>
        {{ form_end(formTag) }}
    </div>
{% endblock %}