{% extends 'base.html.twig' %}

{% block title 'Dashboard' %}

{% block body %}
    <div class="container" style="margin-top: 150px">
        <h1>Bienvenue sur le DAHSBOARD</h1>
        <a href="{{ path('aProposAdmin') }}" class="button is-primary">Section A Propos</a>
    </div>
{% endblock %}
