{% extends 'base.html.twig' %}

{% block title 'Dashboard' %}

{% block body %}
    <div class="container" style="margin-top: 150px">
        <div class="content">
            <h1>Bienvenue sur le DAHSBOARD</h1>
            <li><a href="{{ path('aProposAdmin') }}" class="button is-primary">Section A Propos</a></li>
            <li><a href="{{ path('CompetencesAdmin') }}" class="button is-primary">Section Compétences</a></li>
            <li><a href="{{ path('ExperiencesAdmin') }}" class="button is-primary">Section Experiences</a></li>
        </div>
    </div>
{% endblock %}
