#intro{
    display: flex;
    position: relative;
    background-image: url("../static/milky-way-2695569_1920.jpg");
    background-size: cover;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    align-items: center;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

#intro:hover {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}