#intro{
    display: flex;
    position: relative;
    background-image: url("../images/space.jpg");
    background-size: cover;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    align-items: center;
    perspective: 1000px;
    perspective-origin: center;
}

#test.container{
    position: absolute;
}

#zoom{
    animation-name: zoomin;
    animation-duration: 4s;
}

@keyframes zoomin {
    0% {transform: translateZ(-5000px)}
    100% {transform: translateZ(0px)}
}

.title.is-1{
    color: white;
}