{% extends 'base.html.twig' %}

{% block title 'Edition hobbie' %}

{% block body %}
    <div class="container margetop">
        <a href="/admin/Apropos" class="button is-primary margebottom">
            <span class="icon">
                <i class="fas fa-arrow-left"></i>
            </span>
            <span>Retour</span>
        </a>
        <h1 class="title is-2">Edition</h1>
        {{ form_start(formhobbies, {'attr': { 'novalidate': 'novalidate' }}) }}
            {{ form_row(formhobbies.name) }}
            {{ form_row(formhobbies.icon_name) }}
            <button class="button is-primary">Editer</button>
        {{ form_end(formhobbies) }}
    </div>
{% endblock %}