<!DOCTYPE html>
<html>
    <head>
        <title>CV</title>
    </head>
    <body>
        <div class="red">
            <h1 class="red">Clément Ansel</h1>
            <p>14/08/1991</p>
            <p>{{ apropos.mail }}</p>
            <a href="https://github.com/anselclement">GitHub</a><br/>
            <a href="https://www.linkedin.com/in/cl%C3%A9ment-ansel-376584142/">LinkedIn</a><br />
        </div>
    </body>
</html>
