.section.propos{

    .container{

        .title{
            margin-bottom: 15px;
        }
    }

    .container{
        margin-bottom: 15px;
    }

    .container{
        padding-top: 15px;
        .columns{

            .column.is-2{

                #avatar{
                    border: solid;
                    @media screen and (max-width: 768px){
                        margin: auto;
                    }
                }
            }

            .column.is-5{
                
                .columns{

                    .column.is-2{
                        @media screen and (max-width: 768px){
                            margin: auto;
                        }
                    }

                }
            }
        }
    }

}

@media screen and (max-width: 768px){
    #mail{
        text-align: center;
    }
}

#avatar.image.is-128x128{
    img{
        width: 100%;
        height: 100%;
        background-size: cover;
        background: no-repeat;
    }
}