.section.propos{
    padding: 4rem;
}

#avatar{
    border: solid;
    @media screen and (max-width: 768px){
        margin: auto;
    }

    img{
        width: 100%;
        height: 100%;
        background-size: cover;
        background: no-repeat;
    }
}

.column.is-5{
    margin-top: 20px;
}

.button.is-rounded.is-info{
    cursor: pointer;
}

.column.is-3.has-text-centered.boutonMedia{
    @media screen and (max-width: 768px){
        margin: auto;
    }
}
   
@media screen and (max-width: 768px){
    #adresseMail{
        text-align: center;
    }
}

.columns.is-mobile.affichage {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .column.is-2.has-text-centered.tooltip.is-tooltip-bottom.is-tooltip-info{
        @media screen and (max-width: 768px){
            margin: auto;
        }
    }

    .column.is-2.has-text-centered.tooltip.is-tooltip-bottom.is-tooltip-info:hover{
        transform: scale(1.2);
    }
}


