.title.is-4.has-text-centered{
    margin-top: 10px;
}

.section{
    .title.is-2.has-text-centered{
        @media screen and (max-width: 768px){
            font-size: 25px;
        }
    }
}

.column.is-6-mobile.is-4-tablet.is-2-desktop{
    .box{
        .title.is-4.has-text-centered{
            @media screen and (max-width: 768px){
                font-size: 15px;
            }
        }
    }
}