#intro{
    display: flex;
    position: relative;
    background: url("../../images/space.jpg") no-repeat center bottom;
    background-size: cover;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    align-items: center;
    perspective: 1000px;
    perspective-origin: center;

    .intro-overlay{
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: black;
        opacity: .60;
        position: absolute;
    }

    #zoom{
        animation-name: zoomin;
        animation-duration: 4s;

        .title.is-1, .title.is-3{
            color: white;
        }

        @media all and (max-width: 767px){

            .title.is-1{
                font-size: 2rem;
            }
        }

        .button.is-outlined.is-link.is-large {
            color: white !important;
        }
    }
    
    @keyframes zoomin {
        0% {transform: translateZ(-2000px)}
        100% {transform: translateZ(0px)}
    }
}








