.Collapsible__trigger.is-closed{
    cursor: pointer;
}

.Collapsible__trigger.is-open{
    cursor: pointer;
}

.timeline.is-centered{
    margin-top: 5rem;
}

.columns.is-multiline.is-mobile.is-centered{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.section {
    padding: 1rem 1.5rem;
}

.margetop{
    margin-top: 150px;
}

.margebottom{
    margin-bottom: 20px;
}

.table__wrapper {
    overflow-x: auto;
}

.pricing{
    width: 100%;
}

ul li {
    margin: 20px;
}

ul li:hover{
    cursor: pointer;
}

.timeline-item::after {
    color: red;
}

body {
    font-family: 'Rosario', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

html{
    scroll-behavior: smooth;
}
